.next/
node_modules/
dist/
build/
.vercel/
.env
.env.local
.env.*.local
.env.production
.env.vercel-production
.env.development
.env.test
npm-debug.log*
yarn-error.log*
.DS_Store
.vscode/
coverage/
*.sqlite3
prisma/dev.db
.idea/
/.cache
public/.cache
/.turbo
.vercel
